*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
.image{
    background-size: cover;
    background-position: center;
    background-image: url(../image/nostalgic.jpg);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
span{
    color: #40E0D0;
}
nav ol li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px
}
nav ol li a{
color: white;
text-decoration: none;
font-weight: bold;
text-transform: capitalizes;
}
nav ol li a:hover{
    color: #40E0D0;
    transition: .4s;
}
.btn{
    background-color: #40E0D0;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}
.btn:hover{
    transform: scale(1.2);
} 
 
h3{
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}